<!DOCTYPE html>
<html style="background-color: <%= params[:lookbook][:display][:bg_color] || "white" %>">
<head>
  <title>Component Preview</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', defer: true %>
</head>
<body>
  <div style="
    max-width: <%= params[:lookbook][:display][:max_width] || "100%" %>
  ">
    <div class="h-screen flex items-center justify-center">
      <%= yield %> <!-- rendered preview will be injected here -->
    </div>
  </div>
</body>
</html>
